/*#post-wrap {*/
/*    display: contents;*/
/*}*/

svg#svg2 {
    cursor:pointer;
    width: 40px;
    height: auto;
}

path#path4 {
    fill: red;
    stroke-width: 10px;
    stroke: darkred;
}

/*path#path4:hover {*/
/*    fill: red;*/
/*}*/