/*#post-wrap {*/
/*    display: contents;*/
/*}*/

svg#svg2 {
    cursor:pointer;
    width: 40px;
    height: auto;
}

path#path4 {
    fill: red;
    stroke-width: 10px;
    stroke: darkred;
}

/*landing page*/
*{
    color: white;
}
#webpage{
    min-height: 100vh;
    background-color: #121212;
}

#top-navbar{
    background-color: #3f3f3f;
    height: 70px;
    align-items: center;
}
#content-section{
    background-color: #121212;
}
.card{
    background-color: #282828 !important;
    width: 50%;
}
.btn{
    background-color: #3f3f3f !important;
    color: white !important;
}



.btn:focus{
    background-color: #222222 !important;

}



input{
    background-color: #282828 !important; /* Change to your desired color */
    color: white !important; /* Change the text color if needed */
    border: 1px solid #000 !important; /* Change the border color and style if needed */
}
#right-topnavbar-column .dropdown-menu{
    background-color: #121212;
}
.topnavbar-userinput input{
    border: 1px solid #ccc; /* Define a border style and color */
    border-radius:10px; /* Adjust the border radius as needed for the desired roundness */
    padding: 2px; /* Add some padding for spacing inside the input */
    margin: 5px;
}
.topnavbar-userinput input[type="submit"]{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

/*create post page*/
#create-post-page{
    background-color: #1a1e25;
    min-height: 100vh;
}
.quiz-input-form {
    margin-top: 70px;
}
select{
    background-color: #282828 !important;
    border: 1px solid #000 !important;
    color: white;
}
select:focus {
  background-color: #282828;
}

#quiz-feed {

    display: flex;
    justify-content: center;
    margin-bottom: 25px
}

.congrats {

    color: mediumspringgreen;
    font-size: x-large;
    font-weight: 600;
}

.fail {

    color: orangered;
    font-size: x-large;
    font-weight: 600;
}



#qfoot {
    display: flex;
    justify-content: right;
}

.footcardtext, .footcardtext2 {

    justify-content: center;
    font-size: .8em;
    color: black;
    margin: 2%;
    font-weight: 600;

}
.footcardtext2 {
    display: none;
}

.footcardtext:hover, .footcardtext2:hover {

   text-decoration: underline;
    cursor: pointer;

}

#gfoot {


    justify-content: right;
}

#footcard {

    display: flex;
    background-color: gold;
    width: 70%;
    border-top-left-radius: .375em;
    border-bottom-right-radius: .375em;
    justify-content: center;
}

.card-grades {

    display: none;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.whi {

    justify-content: center;
}
.orange {
    justify-content: center;
}

.whi p {

    font-size: smaller;
    color: grey;
    font-style: italic;

}
.orange p {

    font-size: smaller;
    color: orange;
    font-style: italic;

}

.my_image {

    width: 100%;
}

.card-grades {
    flex-direction: column;
}

#notverified {

    font-size: 1.2rem;
    margin-top: 15px;
    font-style: italic;
    color: bisque;
}

#verified {

    font-size: 1.2rem;
    margin-top: 15px;
    font-style: italic;
    color: plum;
}

.row {
    flex-wrap: nowrap !important;
}

/*path#path4:hover {*/
/*    fill: red;*/
/*}*/